services:
  db:
    image: postgres:16.4-alpine3.20
    environment:
      POSTGRES_DB: tutorial_db
      POSTGRES_USER: user123
      POSTGRES_PASSWORD: password123
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data

volumes:
  pg-data:
